@model  List<BasketDetailVM>



@{
    ViewData["Title"] = "Index";
    decimal grandTotal = 0;
}



<div class="container my-5">

    <h2 class="my-5">Products</h2>
    @if (Model.Count >0)
    {
        <table class="table basket-table">
            <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Category</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Count</th>
                    <th scope="col">Total</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody class="basket-tr">
                @foreach (var item in Model)
                {


                    <tr  data-id="@item.Id">



                        <td> <img style="width:100px; height:100px;" src="~/img/@item.Image" /> </td>
                        <td>@item.CategoryName </td>
                        <td>@item.Name </td>
                        <td>@item.Description </td>
                        <td>@item.Price ₼ </td>
                        <td class="basket-count">@item.Count</td>
                        <td class="total-price">@item.Total </td>
                         
                        <td>
                            <form method="post">

                                <button data-id="@item.Id" class=" btn btn-danger btn-sm delete-icons ">Delete</button>

                            </form>
                           
                         </td>

                    </tr>

                    grandTotal += item.Total;
                }
            </tbody>
        </table>

        <h1 class="my-4 text-right grand-total"> Grand Total : <span>@grandTotal</span>₼</h1>

    }
    else
    {
        <div class="alert alert-warning" role="alert">
            Prodcuts not yer added
        </div>
    }


    

</div>
